
# IDE
/.idea/

# PACKAGES
/vendor/

# PROJET
/.phpunit.result.cache
/.phpunit.cache
/*.zip
/test/test.log
/test/coverage
php_errors.log
*.env
test/testTemplate/test.pdf
test/testTemplate/testDetails.pdf